<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882827385551-va4fniv19e8n9bl3bq4ahlsp1e82ks19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882827385551-va4fniv19e8n9bl3bq4ahlsp1e82ks19</string>
	<key>API_KEY</key>
	<string>AIzaSyCBMt0CWae_d0Um4t0gxZ8sfKpyPrFprKk</string>
	<key>GCM_SENDER_ID</key>
	<string>882827385551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.posd2home.tableapp</string>
	<key>PROJECT_ID</key>
	<string>posd2home-7d02d</string>
	<key>STORAGE_BUCKET</key>
	<string>posd2home-7d02d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882827385551:ios:b3d76766138cecddcf75ba</string>
</dict>
</plist>